<!DOCTYPE html>
<html>

<body>
    <div class="container">
        <div class="header">
            <h1> sporteyeofficial@hotmail.com has placed an order <h1>
        </div>
        <div class="white">
            <p> Total price is <span th:text="${price}" style="text-align: center"></span> usd</p>
            <p> The wise transfer number is <span th:text="${transfernumber}" style="text-align: center"></span></p>
            <p> The bfk order number is <span th:text="${bfkOrderNumber}" style="text-align: center"></span></p>
            <p> The order address is <span th:text="${adres}" style="text-align: center"></span></p>
        </div>
        <div class="footer">
            <p>Kind regards,</p>
            <p>Robin</p>
        </div>
    </div>
</body>

</html>