<div>
    <div class="model-window-body">
        <div class="close-window">
            <i (click)="onNoClick()" class="lni-close"></i>
        </div>
        <div class="container model-content">
            <div class="row justify-content-center">
                <div id="animation" class="col-4 text-center" *ngFor="let shirt of shirts; index as i">
                    <img [@fadeIn]="{value: elem.nativeElement.querySelectorAll('#animation').length, params:{time: 5000 + 'ms' + ' ' + (i*2000) + 'ms'}}" width="70vh" height="70vh" class="rounded mx-auto d-block" src={{shirt.clubImg}}>
                    <h6 [@fadeIn]="{value: elem.nativeElement.querySelectorAll('#animation').length, params:{time:  5000  + 'ms' + ' ' + (i*2000) + 'ms'}}">{{shirt.clubName}}</h6>
                    <img [@fadeIn]="{value: elem.nativeElement.querySelectorAll('#animation').length, params:{time: 5000 + 'ms' + ' ' + (i*2000) + 'ms'}}" width="170vh" height="170vh" class="img-fluid mx-auto d-block" src={{shirt.shirtImg}}>
                    <p [@fadeIn]="{value: elem.nativeElement.querySelectorAll('#animation').length, params:{time:  5000  + 'ms' + ' ' + (i*2000) + 'ms'}}" style="padding-top: 5%">{{shirt.name.replace(shirt.season,"")}}: {{shirt.season}}</p>
                    <div class="row justify-content-center">
                        <button class="col-3" [@fadeIn]="{value: elem.nativeElement.querySelectorAll('#animation').length, params:{time: 5000 + 'ms' + ' ' + (i*2000) + 'ms'}}" (click)="pickShirt(shirt.id)" class="btn">Pick shirt</button>
                        <div class="change col-2">
                            <i [@fadeIn]="{value: elem.nativeElement.querySelectorAll('#animation').length, params:{time: 5000 + 'ms' + ' ' + (i*2000) + 'ms'}}" *ngIf="!mysterieShirt.changeClosed" class="fa fa-random text-center"
                                                data-hover="Klik hier om change token te gebruiken" aria-hidden="true"
                                                (click)="changeShirt(i, groupId)"></i>
                        </div>
                    </div>    
                </div>
            </div>
        </div>
    </div>
</div>