

<!--START MAIN-->


    <!--START PRODUCT SECTION -->
    <div class="product-section">
        <!--START HEADER -->
        <!--END HEADER -->
        <p class="floating-message" *ngIf="this.message != ''">{{this.message}}</p>
        <div class="row inner-product-sec">
            <div class="left-area">
                <p class="d-none d-lg-block">© 2024 Sports-Eye</p>
            </div>
            <div class="right-area">
                <div id="particles"></div>
                <video src="../assets/homepagebackgroundblack2.mp4" oncanplay="this.muted=true" loop autoplay></video>
                <div class="container container-setting homepage">
                    <div class="row text-center">
                        <!--  START PRODUCT SLIDER  -->
                        <div class="col-sm-12 col-md-8 col-lg-12 box1 text-center order-2">
                            <div class="ribbon">
                                <div class="wrap">
                                    <span class="ribbon6">€ 55.00</span>
                                </div>
                            </div>
                            <!-- Swiper-->
                            <div class="swiper-container" id="product-slider" style="overflow: hidden;">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="image-container" (click)="openVideo()" style="cursor: pointer">
                                            <img src="../assets/img/MysteriepickSportsEye2.webp" alt="featured product 1">
                                            <span class="hover-text">Klik om te zien hoe de mysterie pick er effectief uit ziet</span>
                                        </div>
                                    </div>
                                </div>
                                <!-- Add Pagination -->
                            </div>
                            <div class="swiper-dots"></div>
                        </div>
                        <!--  END PRODUCT SLIDER  -->

                        <div class="col-12 featured_title d-sm-block d-md-block d-lg-none order-1">
                            <h4 class="text-center text-md-left"><span>Koop een</span> mysterie shirt</h4>
                            <p class="text-center text-md-left">Speciale mogelijkheid om verkregen mysterie shirts te wijzigen met tokens</p>
                            <!--<div class="button-1 rounded-pill">
                                <a [routerLink]='["/shop"]' class="rounded-pill">Toon meer producten </a>
                            </div>-->
                        </div>
                    </div>

                    <div class="featured_products">
                        
                        <div class="row justify-content-center">
                            <div class="col-12 col-md-3"></div>
                            <div class="col-12 col-lg-9 offset-lg-3 detail-area">
                                <div class="row">
                                    <div class="col-12 featured_title d-none d-lg-block">
                                        <h4 class="text-center text-md-left"><span>Koop een</span> mysterie shirt</h4>
                                         <p class="text-center text-md-left">Speciale mogelijkheid om verkregen mysterie shirts te wijzigen met tokens</p>
                                        <div class="button-1 rounded-pill">
                                            <a [routerLink]='["/about"]' class="rounded-pill">Klik hier voor meer uitleg</a>
                                        </div>
                                        
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 featured_items wow fadeIn" data-wow-duration="2s">
                                        <div class="owl-carousel owl-theme">
                                            <div *ngFor="let product of products" class="pr-1 product-item">
                                                <a (click)="openDialog(product)">
                                                    <div class="img-holder">
                                                        <img src={{product.imageLoc}} alt="items">
                                                        <div class="hover-content">
                                                            <!-- Inhoud die getoond wordt bij hover, bijv. extra informatie -->
                                                            <p>{{product.description}}</p>
                                                        </div>
                                                        <div class="plus"><i class="lni-plus"></i></div>
                                                    </div>
                                                </a>
                                                <p class="text-center product-body">{{product.name}} <i (click)="openInfoModal(product)" class="fa fa-info-circle info"></i></p>
                                                <p class="text-center product-price">€ {{product.price}}</p>
                                            </div>
                                        
                                        </div>
                                    </div>
                                    <!--  START FOOTER AREA -->
                                    <div class="col-12 featured_footer">
                                        <div class="row">
                                            <div class="col-12">
                                                <p class="text-center text-md-left">Veel truitjes beschikbaar van dit seizoen (2023-2024) + retro truitjes</p>
                                            </div>
                                            <div class="col-12 text-center text-lg-left">
                                                <div class="row">
                                                    <div class="terms col-sm-12 col-md-4  col-lg-4">
                                                        <h4>Gratis verzending</h4>
                                                        <p>Kan 1-5 weken duren voor aankomst</p>
                                                    </div>
                                                    <div class="terms col-sm-12  col-md-4 col-lg-4">
                                                        <h4>Veilige betaling </h4>
                                                        <p>100% veilige betaling</p>
                                                    </div>
                                                    <div class="terms col-sm-12 col-md-4  col-lg-4">
                                                        <h4>Geen terugzending mogelijk</h4>
                                                        <p>Snelle communicatie via info&#64;sports-eye.be</p>
                                                    </div>
                                                    <div class="col-md-12 d-block d-lg-none">
                                                        <p>© 2024 Sports-Eye.  </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--  END FOOTER AREA -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--START PRODUCT SECTION -->

    

