<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta Tags For Seo + Page Optimization -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Themes Industry">
    <meta name="google-adsense-account" content="ca-pub-1483891644895073">
    <!-- description -->
    <meta name="description" content="Webshop voor voetbal mysterie shirts, vind je het toegewezen truitje niet leuk? Kies direct een ander!!">
    <!-- keywords -->
    <meta name="keywords" content="speciale mysterieshirts voetbal voetbalshop mysteriepick fifa-ervaring Sports-Eye">
    <meta name="google-site-verification" content="vHZHo-ERXRtPOEi7ocrmodoYERWq9-n9I95iXbPKF-A" />
    <!-- Page Title -->
    <title>Sports-Eye</title>
    <!-- Favicon -->
    <link rel="icon" href="../assets/img/rsz_2logo16x16.png">
    <!-- Bundle -->

</head>

<body>

    <!--START PAGE LOADER-->
    <div id="loader">
        <div class="loader center-block">
            <div class="inner one"></div>
            <div class="inner two"></div>
            <div class="inner three"></div>
        </div>
    </div>
    <!--END PAGE LOADER-->

    <!--START MODEL WINDOW LOADER-->
    <div id="model-loader" class="center-block">
        <div class="loader center-block">
            <div class="inner one"></div>
            <div class="inner two"></div>
            <div class="inner three"></div>
        </div>
    </div>
    <!--END MODEL WINDOW LOADER-->
    <div class="main">
        <div class="body-overlay" data-value="dismis"></div>
        <header>
            <div class="container container-setting">
                <div class="row justify-content-center">
                    <!-- START HEADER NAV   -->
                    <nav id="nav" class="navbar navbar-expand navbar-light bg-light">
                        <h1 id="title" class="brand-logo mr-3"> <a href="/">Sports-Eye</a> <img id="logo" class="pl-5 img-rounded" src="../assets/img/finallogo_nobackgr.png" width="15%" height="10%"> </h1>
                        <i id="openMenu" class="fa fa-bars" aria-hidden="true" ></i>
                        <i id="closeMenu" class="fa fa-times fa-2x" aria-hidden="true"></i>
                        <i id="winkelkar" *ngIf="isLoggedIn" (click)="goCheckout()" class="lni-cart">
                            <span>{{this.orders.length}}</span></i>
                        <div class="menu-hidden" id="menuItems">
                            <ul class="hidden-ul">
                                <li><span *ngIf="giveAuthorityString('ROBIN')" (click)="fetchShirts()">fetch
                                        shirts</span></li>
                                <li><span *ngIf="giveAuthorityString('ROBIN')" (click)="fetchClubs()">fetch
                                        clubs</span></li>
                                <li><a *ngIf="!isLoggedIn" href="/login">Login</a></li>
                                <li><a *ngIf="!isLoggedIn" href="/register">Registreer</a></li>
                                <li><span (click)="goAboutUs()">Over ons</span></li>
                                <li><span (click)="goVoorwaarden()">Voorwaarden</span></li>
                                <li><span (click)="toggleChat()">Chat met ons</span></li>
                                <li *ngIf="isLoggedIn" (click)="wijzigProfiel()">Wijzig profiel</li>
                                <li *ngIf="isLoggedIn" (click)="seeOrders()">ordersgeschiedenis</li>
                                <li *ngIf="isLoggedIn" (click)="logout()">Uitloggen</li>
                            </ul>
                        </div>
                        <div class="collapse navbar-collapse transparent-nav" id="navbarTogglerDemo03">
                            <ul class="navbar-nav ml-auto header-nav">
                                <li class="nav-item dropdown dmenu d-none d-md-block">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                        NL
                                    </a>
                                    <div class="dropdown-menu sm-menu">
                                        <a class="dropdown-item" href="#">Nederlands</a>
                                        <!--<a class="dropdown-item" href="#"><img src="img/flags/french.jpg" alt="French">French</a>
                                        <a class="dropdown-item" href="#"><img src="img/flags/spain.jpg" alt="spain">Spanish</a>-->
                                    </div>
                                </li>
                                <li class="nav-item main_item_menu dropdown dmenu d-none d-md-block">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop2"
                                        data-toggle="dropdown">
                                        EUR
                                    </a>
                                    <div class="dropdown-menu main_item_menu_sub sm-menu">
                                        <a class="dropdown-item" href="#"><img src="../assets/img/flags/eur.png"
                                                alt="flag_eur">€</a>
                                    </div>
                                </li>
                                <li *ngIf="!isLoggedIn"
                                    class="nav-item main_item_menu dropdown dmenu d-none d-md-block">
                                    <a class="nav-link dropdown-toggle" id="navbardrop3" data-toggle="dropdown">
                                        ACCOUNT
                                    </a>
                                    <div class="dropdown-menu main_item_menu_sub sm-menu">
                                        <a class="dropdown-item" href="/login">Login</a>
                                        <a class="dropdown-item" href="/register">Registreer</a>
                                    </div>
                                </li>
                                <li *ngIf="isLoggedIn" class="nav-item main_item_menu dropdown dmenu d-none d-md-block">
                                    <a class="nav-link dropdown-toggle" id="navbardrop3" data-toggle="dropdown">
                                        {{this.currentUser.email}}
                                    </a>
                                    <div class="dropdown-menu main_item_menu_sub sm-menu">
                                        <button class="dropdown-item" (click)="wijzigProfiel()">Wijzig profiel</button>
                                        <button class="dropdown-item"
                                            (click)="seeOrders()">Bestellingsgeschiedenis</button>
                                        <button class="dropdown-item" (click)="logout()">Uitloggen</button>
                                    </div>
                                </li>
                                <li *ngIf="isLoggedIn" class="nav-item main_item_menu dropdown dmenu d-none d-md-block">
                                    <i class="fa fa-random" aria-hidden="true"><span
                                            class="badge badge-custom-setting">{{changeTokens}}</span></i>
                                </li>
                                <li *ngIf="isLoggedIn" class="nav-item main_item_menu dropdown dmenu d-none d-md-block">
                                    <i class="fa fa-eye" aria-hidden="true"><span
                                            class="badge badge-custom-setting">{{cheatTokens}}</span></i>
                                </li>
                                <li *ngIf="isLoggedIn" class="nav-item main_item_menu dropdown dmenu d-none d-md-block">
                                    <a href="#" class="nav-link" data-toggle="dropdown">
                                        <i class="lni-cart"> <span
                                                class="badge badge-custom-setting">{{this.orders.length}}</span></i>
                                    </a>
                                    <div class="dropdown-menu sm-menu mini-cart">
                                        <div class="mini-cart-header">
                                            <h4>Winkelkar</h4>
                                        </div>
                                        <div class="mini-cart-body">
                                            <div *ngFor="let order of orders" class="inner-card">
                                                <div class="media">
                                                    <div class="img-holder ml-1 mr-2">
                                                        <img src={{order.product.imageLoc}} class="align-self-center"
                                                            alt="cartitem">
                                                    </div>
                                                    <div class="media-body mt-auto mb-auto">
                                                        <h5 class="name">{{order.product.name}} </h5>
                                                        <p *ngIf="order.product.productType.toString() != 'TOKEN'"
                                                            class="category">{{order.product.category}}
                                                            {{order.size.replace("_", "")}}
                                                        </p>
                                                        <p class="price"><span> € {{order.product.price}} </span>(x
                                                            {{order.number}}) <a href="#"> <i
                                                                    (click)="removeOrder(order)"
                                                                    class="fa fa-trash dustbin"></i></a></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mini-cart-footer">
                                            <div class="subtotal">
                                                <span class="total-title">Totaal: </span>
                                                <span class="total-price">
                                                    <span class="Price-amount">
                                                        € {{this.getProductsPrice()}}
                                                    </span>
                                                </span>
                                            </div>
                                            <div class="actions">
                                                <button class="btn btn-medium rounded-pill" (click)="deleteAllOrders()"
                                                    [disabled]="orders.length == 0"><i
                                                        class="fa fa-trash dustbin"></i></button>
                                                <button [disabled]="orders.length == 0" type="button"
                                                    (click)="goCheckout()"
                                                    class="btn view-cart button-right btn-medium btn-gradient rounded-pill">Check out</button>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>

                        </div>
                    </nav>
                    <!-- END HEADER NAV   -->
                </div>
            </div>
        </header>
        <router-outlet>

        </router-outlet>
        <!--START SIDEBAR SECTION -->
        <div class="sidebar-section">
            <div class="spans">
                <span *ngIf="giveAuthorityString('ROBIN')" (click)="fetchShirts()"><i>fetch shirts</i></span>
                <span *ngIf="giveAuthorityString('ROBIN')" (click)="fetchClubs()"><i>fetch clubs</i></span>
                <span class=""><i>Menu</i></span>
                <span (click)="goAboutUs()"><i class="fa fa-info-circle" data-hover="Over ons" aria-hidden="true">
                    </i></span>
                <span (click)="goVoorwaarden()"><i class="fa fa-gavel" data-hover="policy" aria-hidden="true">
                    </i></span>
                <span (click)="toggleChat()"><i class="fa fa-comment" data-hover="Chat met ons"
                        aria-hidden="true"></i></span>
            </div>
            <ul class="social-icons">
                <li><a href="https://www.facebook.com/profile.php?id=61557040193418" class="facebook_bg_hvr2 wow slideInLeft" data-wow-duration="2.1s"><i
                            class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
                <li><a href="https://www.instagram.com/sports_eye_official/" class="instagram_bg_hvr2 wow slideInRight" data-wow-duration="2.1s"><i
                            class="fab fa-instagram" aria-hidden="true"></i></a></li>
            </ul>
        </div>
        <!--END SIDEBAR SECTION -->

        <!--START OVERLAY MENU -->
        <div class="side-menu-nav">
            <h1 class="sidenav-bg-text">Sports-Eye</h1>
            <div class="side-footer">
                <ul class="social-icons-simple">
                    <li><a href="#." class="facebook_bg_hvr2 wow fadeInUp"><i class="fab fa-facebook-f"
                                aria-hidden="true"></i></a></li>
                    <li><a href="#." class="twitter_bg_hvr2 wow fadeInDown"><i class="fab fa-twitter"
                                aria-hidden="true"></i></a> </li>
                    <li><a href="#." class="linkdin_bg_hvr2 wow fadeInUp"><i class="fab fa-linkedin-in"
                                aria-hidden="true"></i></a></li>
                    <li><a href="#." class="instagram_bg_hvr2 wow fadeInDown"><i class="fab fa-instagram"
                                aria-hidden="true"></i></a></li>
                </ul>
                <p class="whitecolor text-center w-100 wow fadeInDown">&copy; 2024 Sports-Eye. </p>
            </div>
        </div>
        <!-- End OVERLAY Menu -->
    </div>
    <!--END MAIN-->
    <!--LOAD MODEL WINDOW-->
    <div id="modal-data"></div>
    <!--END LOAD MODEL WINDOW-->

</body>

</html>