
    <!--START PRODUCT SECTION-->
    <div class="product-section">

        <p class="floating-message" *ngIf="this.message != ''">{{this.message}}</p>
        <!-- START LOGIN PAGE -->
        <div class="contact-us-content">

            <div class="slider-content">

                <div class="parallax-slide banner-slide" style='background:url("assets/img/SportEyePossBanner2.jpg");'></div>

               <!--  START HEADING TITLE -->
                <div class="about_content" >
                    <div class="container">
                        <div class="row">
                            <div class="col-12  col-lg-8 offset-lg-2 text-center wow slideInUp" data-wow-duration="2s">
                                <h1 class="heading">Leden area</h1>
                                <p class="para_text">De inlogpagina</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  END HEADING TITLE -->

                <!-- START LOGIN FORM -->
                <div class="offset-lg-3 col-lg-6 col-md-12 col-sm-12 pr-lg-0 whitebox">
                    <div class="widget logincontainer">
                        <h3 class="bottom35 text-center text-md-left">Log In </h3>
                        <p *ngIf="isLoginFailed" class="error">{{errorMessage}}</p>
                        <form class="getin_form border-form" [formGroup]='form' (ngSubmit)="login()" id="login" >
                            <div class="row">
                                <div class="col-md-12 col-sm-12">
                                    <div class="form-group bottom35">
                                        <label for="registerEmail" class="d-none"></label>
                                        <input class="form-control" formControlName="email" type="email" placeholder="Email:" required="" id="registerEmail">
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12">
                                    <div class="form-group bottom35">
                                        <label for="registerPass" class="d-none"></label>
                                        <input class="form-control" formControlName="password" type="password" placeholder="Password:" required="" id="registerPass">
                                    </div>
                                </div>

                                <div class="col-md-12 col-sm-12">
                                    <div class="form-group bottom35">
                                        <div class="form-check text-left">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="defaultUnchecked">
                                                <label class="custom-control-label" for="defaultUnchecked">Herinner mij op dit apparaat</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <button type="submit" [disabled]="!form.valid" class="button btn btn-gradient w-100 rounded-pill register-btn ">Log In</button>
                                    <p class="top20"> Geen account? &nbsp;<a href="/register" class="defaultcolor">Registreer</a> </p>
                                    <p class="top20"> Wachtwoord vergeten? &nbsp;<a (click)="modalWachtwoordWijzigen()" class="btn-link">Wijzig wachtwoord</a> </p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- END LOGIN FORM -->

                <!-- START FOOTER NOTES -->
                <div class="row">
                    <div class="col-12 text-center footer_rights pb-5">
                        <p>&copy; 2023 SportEYE</p>
                    </div>
                </div>
                <!-- END FOOTER NOTES -->

            </div>

        </div>
        <!-- END  LOGIN PAGE -->