
    <!--START PRODUCT SECTION-->
    <div class="product-section contact-body">


        <!-- START LOGIN PAGE -->
        <div class="contact-us-content">

            <div class="slider-content">

                <div class="parallax-slide banner-slide" style='background:url("img/project-banner12.jpg")'></div>

               <!--  START HEADING TITLE -->
                <div class="about_content" >
                    <div class="container">
                        <div class="row">
                            <div class="col-12  col-lg-8 offset-lg-2 text-center wow slideInUp" data-wow-duration="2s">
                                <h1 class="heading">Member's Area</h1>
                                <p class="para_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A dolores explicabo laudantium, omnis provident quam reiciendis voluptatum?</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  END HEADING TITLE -->

                <!-- START LOGIN FORM -->
                <div class="offset-lg-3 col-lg-6 col-md-12 col-sm-12 pr-lg-0 whitebox">
                    <div class="widget logincontainer">
                        <h3 class="bottom35 text-center text-md-left">Wijzig uw wachtwoord</h3>
                        <form class="getin_form border-form" [formGroup]='form' (ngSubmit)="wijzigWachtwoord()" id="login" >
                            <div class="row">
                                <div class="col-md-12 col-sm-12">
                                    <div class="form-group bottom35">
                                        <label for="registerPass" class="d-block">Password: </label>
                                        <input class="form-control" type="password" formControlName="password">
                                        <a class="d-block wrong" *ngIf="password.touched && password.hasError('required')">Password is required</a>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12">
                                    <div class="form-group bottom35">
                                        <label for="registerPassConfirm" class="d-block">Confirm password: </label>
                                        <input class="form-control" type="password" formControlName="passwordConfirm">
                                        <p class="d-block wrong" *ngIf="!form.valid"><small>Please fill out all needed information</small></p>
                                        <p class="d-block wrong" *ngIf="passwordConfirm.touched && form.hasError('passwordsNotMatching')"><small>Passwords are not matching</small></p>
                                    </div>
                                </div>

                                <div class="col-sm-12">
                                    <button type="submit" [disabled]="!form.valid" class="button btn btn-gradient w-100 rounded-pill register-btn ">Wijzig passwoord</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- END LOGIN FORM -->

                <!-- START FOOTER NOTES -->
                <div class="row">
                    <div class="col-12 text-center footer_rights pb-5">
                        <p>&copy; 2023 SportEYE</p>
                    </div>
                </div>
                <!-- END FOOTER NOTES -->

            </div>

        </div>
        <!-- END  LOGIN PAGE -->