

    <div class="product-section contact-body">
        <!-- START HEADER NAV  -->

        <!-- START MAIN CONTENT  -->
        <div class="contact-us-content">
            <div class="slider-content">

                <!--  START FORM SECTION  -->
                <div class="offset-lg-3 col-lg-6 col-md-12 col-sm-12 col-12 pr-lg-0 whitebox">
                    <div class="widget logincontainer">
                        <h3 class="bottom35 text-center text-md-left fs-6">Maak uw account </h3>
                        <form class="getin_form border-form" [formGroup]='form' (ngSubmit)="register()" id="register">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-12">
                                    <div class="form-group bottom35">
                                        <label for="registerName" class="d-block">Voornaam: </label>
                                        <input class="form-control" type="text" formControlName="name">
                                        <p class="d-block wrong" *ngIf="name.touched && name.hasError('required')">Voornaam is required</p>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-12">
                                    <div class="form-group bottom35">
                                        <label for="registerName" class="d-block">Achternaam: </label>
                                        <input class="form-control" type="text" formControlName="surname" >
                                        <a class="d-block wrong" *ngIf="surname.touched && surname.hasError('required')">Achternaam is required</a>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-12">
                                    <div class="form-group bottom35">
                                        <label for="registerEmail" class="d-block">Email: </label>
                                        <input class="form-control" type="email" formControlName="email">
                                        <p class="d-block wrong" *ngIf="email.touched && email.hasError('required')">Email is required</p>
                                        <p class="d-block wrong" *ngIf="email.touched && email.hasError('email')">Email moet juiste formaat hebben</p>
                                    </div>
                                </div>

                                <div class="col-md-12 col-sm-12 col-12">
                                    <div class="form-group bottom35">
                                        <label for="registerPostBox" class="d-block">Adres (geef straat en nummer om het adres te beginnen zoeken): </label>
                                        <input class="form-control" type="text" id="registerPostBox" name="adres" formControlName="adres">
                                        <a class="d-block wrong" *ngIf="adres.touched && adres.hasError('required')">Adres is required, vergeet niet op de knop hieronder de duwen om het adres te vinden</a>
                                        <p class="d-block wrong" *ngIf="!adresAdded">Druk op zoek om adres te vinden (vul meer info aan indien het juiste adres er niet bijstaat)</p>
                                        <button class="btn" (click)="toggleDropdown()">Zoek juiste adres</button>
                                    </div>
                                    <div *ngIf="showDropdown" class="dropdown-menuA show">
                                        <a class="dropdown-itemA" href="javascript:void(0)" *ngFor="let adres of choices" (click)="selectChoice(adres)">{{adres.formatted}}</a>
                                        <button class="dropdown-itemA centerbutton" (click)="closeDropdown()">Close</button>
                                        
                                    </div>
                                </div>
      
                                <div class="col-md-12 col-sm-12 col-12">
                                    <div class="form-group bottom35">
                                        <label for="registerPostBox" class="d-block">extra adresinformatie: (optioneel) </label>
                                        <input class="form-control" type="text" id="registerPostBox" name="extra" formControlName="extra">
                                    </div>
                                </div>
                                
                                <div class="col-md-12 col-sm-12 col-12">
                                    <div class="form-group bottom35">
                                        <label for="registerPass" class="d-block">Wachtwoord: </label>
                                        <input class="form-control" type="password" formControlName="password">
                                        <p class="d-block wrong" *ngIf="password.touched && password.hasError('required')">Wachtwoord is required</p>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-12">
                                    <div class="form-group bottom35">
                                        <label for="registerPassConfirm" class="d-block">Bevestig wachtwoord: </label>
                                        <input class="form-control" type="password" formControlName="passwordConfirm">
                                        <p class="d-block wrong" *ngIf="!form.valid"><small>Vul alle benodigde data in</small></p>
                                        <p class="d-block wrong" *ngIf="passwordConfirm.touched && form.hasError('passwordsNotMatching')"><small>Wachtwoorden matchen niet</small></p>
                                    </div>
                                </div>
                                <p *ngIf="isSignUpFailed" class="error">{{errorMessage}}</p>
                                <div class="col-md-12 col-sm-12">
                                    <div class="form-group bottom35">
                                        <div class="form-check text-left">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="defaultUnchecked">
                                                <label class="custom-control-label" for="defaultUnchecked">Herinner mij op dit apparaat</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12">
                                    <div class="form-group bottom35">
                                        <div class="form-check text-left">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" formControlName="acceptTerms" id="acceptTerms">
                                                <label class="custom-control-label" for="acceptTerms">Ik heb de regels gelezen en aanvaard ze</label>
                                                <p class="d-block wrong" *ngIf="acceptTerms.errors"><small>Regels moeten aanvaard worden</small></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <button type="submit" [disabled]="!form.valid" class="button btn btn-gradient w-100 rounded-pill register-btn ">Registreer</button>
                                    <p class="top20"> Al een account? &nbsp;<a href="/login" class="defaultcolor">Log in</a> </p>
                                    
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!--  END FORM SECTION  -->

                <!--  START FOOTER SECTION  -->
                <div class="row">
                    <div class="col-12 text-center footer_rights pb-5">
                        <p>&copy; 2024 SportEye.</p>
                    </div>
                </div>
                <!--  END FOOTER SECTION  -->

            </div>
        </div>
        <!-- END MAIN CONTENT  -->

        
    </div>
